.immsg-file[data-v-06c43637] {
  width: 250px;
  min-height: 85px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--im-message-border-color);
}
.immsg-file .main[data-v-06c43637] {
  height: 45px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.immsg-file .main .ext[data-v-06c43637] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  color: #ffffff;
  background: #49a4ff;
  border-radius: 5px;
  font-size: 12px;
}
.immsg-file .main .file-box[data-v-06c43637] {
  flex: 1 1;
  height: 45px;
  margin-left: 10px;
  overflow: hidden;
}
.immsg-file .main .file-box .info[data-v-06c43637] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 24px;
  font-size: 14px;
}
.immsg-file .main .file-box .info .name[data-v-06c43637] {
  flex: 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.immsg-file .main .file-box .info .size[data-v-06c43637] {
  font-size: 12px;
  color: #cac6c6;
  flex-shrink: 0;
}
.immsg-file .main .file-box .notice[data-v-06c43637] {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #929191;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.immsg-file .footer[data-v-06c43637] {
  height: 30px;
  line-height: 37px;
  text-align: right;
  font-size: 12px;
  border-top: 1px solid var(--border-color);
  margin-top: 10px;
}
.immsg-file .footer a[data-v-06c43637] {
  margin: 0 3px;
  user-select: none;
  cursor: pointer;
  color: var(--im-text-color);
}
.immsg-file .footer a[data-v-06c43637]:hover {
  color: royalblue;
}
html[theme-mode='dark'] .immsg-file[data-v-06c43637] {
  border: unset;
  background: #2b2b2b;
}
