.item[data-v-68fcac8c] {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 15px;
  transition: all 0.3s ease-in;
}
.item[data-v-68fcac8c]:first-child {
  margin-top: 0;
}
.item > div[data-v-68fcac8c] {
  height: inherit;
}
.item .avatar[data-v-68fcac8c] {
  width: 40px;
  display: flex;
  align-items: center;
}
.item .content[data-v-68fcac8c] {
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item .content .username[data-v-68fcac8c] {
  height: 30px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.item .content .username .time[data-v-68fcac8c] {
  font-size: 12px;
  color: #bfbbbb;
  margin-left: 5px;
}
.item .content .remark[data-v-68fcac8c] {
  height: 30px;
  line-height: 25px;
  font-size: 12px;
  color: #9a9292;
  overflow: hidden;
  width: inherit;
  border-bottom: 1px solid var(--border-color);
}
.item .tools[data-v-68fcac8c] {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item[data-v-68fcac8c]:hover {
  background-color: var(--im-active-bg-color);
  padding: 0 5px;
  border-radius: 5px;
}
.item:hover .remark[data-v-68fcac8c] {
  border-bottom-color: transparent;
}
