.im-message-vote[data-v-1a1c7272] {
  width: 300px;
  min-height: 150px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}
.im-message-vote .vote-from[data-v-1a1c7272] {
  width: 100%;
}
.im-message-vote .vote-from .vheader[data-v-1a1c7272] {
  min-height: 50px;
  background: #4e83fd;
  padding: 15px;
  position: relative;
}
.im-message-vote .vote-from .vheader p[data-v-1a1c7272] {
  margin: 3px 0;
}
.im-message-vote .vote-from .vheader p[data-v-1a1c7272]:first-child {
  color: #f5eded;
  font-size: 13px;
  margin-bottom: 8px;
}
.im-message-vote .vote-from .vheader p[data-v-1a1c7272]:last-child {
  color: white;
}
.im-message-vote .vote-from .vheader[data-v-1a1c7272]::before {
  content: '投票';
  position: absolute;
  font-size: 60px;
  color: white;
  opacity: 0.1;
  top: -5px;
  right: 10px;
}
.im-message-vote .vote-from .vbody[data-v-1a1c7272] {
  min-height: 80px;
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.im-message-vote .vote-from .vbody .option[data-v-1a1c7272] {
  margin: 14px 0px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}
.im-message-vote .vote-from .vbody .option .text[data-v-1a1c7272] {
  margin-left: 10px;
  cursor: pointer;
  line-height: 26px;
}
.im-message-vote .vote-from .vbody .option.radio[data-v-1a1c7272] .n-checkbox-box {
  border-radius: 50%;
  margin-top: 2px;
}
.im-message-vote .vote-from .vfooter[data-v-1a1c7272] {
  height: 55px;
  text-align: center;
  box-sizing: border-box;
}
.im-message-vote .vote-from .vfooter .n-button[data-v-1a1c7272] {
  width: 90%;
  font-weight: 400;
}
.im-message-vote .vote-from .vfooter.vote-view[data-v-1a1c7272] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
}
.im-message-vote .vote-from .vfooter.vote-view p[data-v-1a1c7272] {
  border-left: 2px solid #2196f3;
  padding-left: 5px;
}
.im-message-vote .vote-view[data-v-1a1c7272] {
  width: 100%;
  min-height: 30px;
  margin: 15px 0;
  box-sizing: border-box;
}
.im-message-vote .vote-view > p[data-v-1a1c7272] {
  margin: 6px 0px;
  font-size: 13px;
}
.im-message-vote .vote-view .vote-option[data-v-1a1c7272] {
  min-height: 20px;
  line-height: 20px;
}
.im-message-vote .vote-view .vote-census[data-v-1a1c7272] {
  height: 20px;
  line-height: 20px;
}
