.immsg-audio[data-v-2d8ccf1d] {
  --audio-bg-color: #f5f5f5;
  --audio-btn-bg-color: #ffffff;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--audio-bg-color);
}
.immsg-audio > div[data-v-2d8ccf1d] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.immsg-audio .play[data-v-2d8ccf1d] {
  width: 45px;
  height: inherit;
  flex-shrink: 0;
}
.immsg-audio .play .btn[data-v-2d8ccf1d] {
  width: 26px;
  height: 26px;
  background-color: var(--audio-btn-bg-color);
  border-radius: 50%;
  color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}
.immsg-audio .desc[data-v-2d8ccf1d] {
  flex: 1 1;
  height: inherit;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.immsg-audio .desc .line[data-v-2d8ccf1d] {
  justify-content: space-between;
  height: 30px;
  width: 2px;
  background-color: #282727;
  margin-left: 3px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:first-child {
  margin-left: 0;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(1) {
  height: 16px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(2) {
  height: 10px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(3) {
  height: 8px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(4) {
  height: 6px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(5) {
  height: 2px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(6) {
  height: 10px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(7) {
  height: 20px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(8) {
  height: 16px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(9) {
  height: 10px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(10) {
  height: 13px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(11) {
  height: 10px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(12) {
  height: 8px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(13) {
  height: 15px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(14) {
  height: 16px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(15) {
  height: 16px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(16) {
  height: 15px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(17) {
  height: 14px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(18) {
  height: 12px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(19) {
  height: 8px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(20) {
  height: 3px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(21) {
  height: 6px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(22) {
  height: 10px;
}
.immsg-audio .desc .line[data-v-2d8ccf1d]:nth-child(23) {
  height: 16px;
}
.immsg-audio .desc .indicator[data-v-2d8ccf1d] {
  position: absolute;
  height: 70%;
  width: 1px;
  background-color: #9b9595;
}
.immsg-audio .time[data-v-2d8ccf1d] {
  width: 50px;
  height: inherit;
  font-size: 12px;
  flex-shrink: 0;
}
html[theme-mode='dark'] .immsg-audio[data-v-2d8ccf1d] {
  --audio-bg-color: #2b2b2b;
  --audio-btn-bg-color: #4e4b4b;
}
html[theme-mode='dark'] .immsg-audio .btn[data-v-2d8ccf1d] {
  color: #ffffff;
}
html[theme-mode='dark'] .immsg-audio .desc .line[data-v-2d8ccf1d] {
  background-color: #a9a7a7;
}
