.footer[data-v-9e1bfbd9] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options[data-v-9e1bfbd9] {
  width: 100%;
  min-height: 80px;
}
.options .handle[data-v-9e1bfbd9] {
  cursor: move;
}
.options .option[data-v-9e1bfbd9] {
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.from-header[data-v-b59291ac] {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.from-header .groups[data-v-b59291ac] {
  display: flex;
  align-items: center;
  flex: 1 auto;
  height: 100%;
  margin-right: 30px;
  overflow: hidden;
  padding-left: 15px;
}
.from-header .tools[data-v-b59291ac] {
  display: flex;
  align-items: center;
  height: 100%;
  width: 250px;
  flex-shrink: 0;
  padding-right: 10px;
}
.item-box[data-v-b59291ac] {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  border-radius: 5px;
  padding: 5px 0;
  border: 1px solid var(--border-color);
  margin: 10px;
  position: relative;
}
.item-box[data-v-b59291ac]:hover {
  border: 1px solid var(--im-primary-color);
}
.item-box > div[data-v-b59291ac] {
  height: inherit;
}
.item-box .avatar[data-v-b59291ac] {
  width: 70px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-box .content[data-v-b59291ac] {
  flex: 1;
  overflow: hidden;
  user-select: none;
}
.item-box .content-title[data-v-b59291ac] {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
}
.item-box .content-title span[data-v-b59291ac] {
  margin-right: 5px;
}
.item-box .content-text[data-v-b59291ac] {
  height: 30px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.45);
}
.item-box .tool[data-v-b59291ac] {
  width: 100px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
}
html[theme-mode='dark'] .item-box[data-v-b59291ac] {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: transparent;
}
html[theme-mode='dark'] .item-box[data-v-b59291ac]:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
html[theme-mode='dark'] .item-box .content-text[data-v-b59291ac] {
  color: rgba(255, 255, 255, 0.5);
}
